<h1>Welcome to chat the f up</h1>

<% if logged_in? %>
	<%= link_to "Profile", current_user %>
<% else %>
	<p><%= link_to "Sign up", new_user_path %></p>
	<p><%= link_to "Log in" , login_url  %></p>
<% end %>